.flashcards-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  .filter-section,
  .sort-section,
  .search-section {
    margin-bottom: 20px;
  }
  
  .filter-section select,
  .sort-section select,
  .search-section input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 8px;
  }
  
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .card {
    position: relative;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    width: calc(25% - 20px);
    box-sizing: border-box;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card.flip {
    --rotate-y: 180deg;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  }
  
  .card.flip .front {
    transform: rotateY(180deg);
  }
  
  .card.flip .back {
    transform: rotateY(0deg); 
  }
  
  .card .front,
  .card .back {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .card .front {
    background-color: #fff;
    --rotate-y: 0deg;
  }
  
  .card .back {
    background-color: #f9f9f9;
    --rotate-y: 180deg;
  }
  
  .flashcard-options {
    flex-wrap: wrap;
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
  }
  
  .status-buttons,
  .edit-delete-buttons {
    display: none;
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .card:hover .status-buttons,
  .card:hover .edit-delete-buttons {
    display: flex;
  }
  
  .status-buttons button,
  .edit-delete-buttons button {
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .status-buttons button:hover,
  .edit-delete-buttons button:hover {
    background-color: #0056b3;
  }
  
  .success-message,
  .error-message {
    margin-top: 16px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .success-message {
    background-color: #4caf50;
    color: #fff;
  }
  
  .error-message {
    background-color: #f44336;
    color: #fff;
  }