body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }

  .cta-button {
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
  }
